nav {
background-color: #ffffc2;
padding: 1em;
border-radius: 1em;
}

nav a {
color: brown;
text-decoration: none;
font-variant: small-caps;
font-weight: bold;
}

article {
border-radius: 1em;
background-color: #ffffc2;
padding: 1em;
}

h1,h2,h3,h4,h5,h6 {
color: brown;
}

hr {
border: 0;
width: 80%;
background-color: brown;
height: 2px;
}
